

#intro {

  background-image: url(./assets/Background_Intro.png);
  background-size: cover;   
  width: 100vw;
  justify-items: center;
  max-height: 750px;
  padding: 120px 163px 57px 163px;
}

#informacao {

  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  align-items: center;

}

#informacao img {
  width: 87.273px;
  height: 87.273px;
  margin-bottom: 56px;

}
