
.subtitle {
  font: var(--subtitle);
  color: var(--gray-500);
  margin-bottom: 8px;
}

.subtitle span {
  display: inline;
  font: var(--subtitle);
  color: var(--red);
}


.subtitle article {
  display: inline;
  font: var(--subtitle);
  color: var(--purple);
}

.title {

  color: var(--gray-600);
  font: var(--title-lg);
  margin-bottom: 20px;
}

.title-md {
  color: var(--gray-600);
  font: var(--title-md);
}

.text-md {
  color: var(--gray-500);
  font: var(--text-md);
}

.title-sm {
  color: var(--gray-600);
  font: var(--title-sm);
}

.text-sm {
  color: var(--gray-400);
  font: var(--text-sm);
}

.tags {

  margin-top: 80px;
  display: flex;
  gap: 16px;
  margin-bottom: 94px;
}

.tags span{
  display: flex;
  font: var(--text-md);
  color: var(--gray-500);
  gap: 8px;
  padding: 8px 16px;
  background: var(--gray-300);
  border-radius: 999px;
}

.tags img{
  max-width: 24px;
  max-height: 24px;
}

.proj img {
  width: 306px;
  height: 156px;
  border-radius: 8px;
  margin-bottom: 20px;
  align-self: center;
}


.links {
  display: flex;
  background: var(--gray-300);
  width: 400px;
  border-radius: 8px;
  padding: 20px;
  text-decoration: none;
  font-family: var(--maven-pro);
  font-size: 16px;
  color: var(--gray-500);
  align-items: center;
  margin-bottom: 16px;
  border: 2px solid var(--gray-300);
  transition: all 0.3s;

}

.links p {
  height: max-content;
  margin-left: 12px;
}

.links #seta{

  margin-left: auto;
}

.links:hover {
  border: 2px solid var(--blue);
  border-radius: 8px;
}

